.jumbotron.text-center
  h1 Продажа: {{ main.kurs.sellAverage }}
  h1 Покупка: {{ main.kurs.buyAverage }}
  p
    span(ng-bind="main.kurs.todayCount")
    |  человек(а)&nbsp;
    a(ui-sref="main.date({ date: main.today })") сегодня
  ui-view
.container
  .col-md-6.col-md-offset-3
    p Сервис создан людьми и для людей. Поэтому, будьте человеком, не добавляйте неверные значения.
    form(ng-submit="main.add(main.addKurs)", ng-if="!main.isAdded")
      .form-group
        label.control-label Курс
        input.form-control.input-lg(type="number", ng-model="main.addKurs.kurs", required,
        min="{{main.min}}", max="{{main.max}}",
        maxlength="{{main.maxlength}}", minlength="{{main.minlength}}")

      .form-group
        .col-md-6
          .radio
            label
              input(type="radio", value="sell", ng-model="main.addKurs.type", ng-change="main.changeType(main.addKurs.type)")
              | Продажа

        .col-md-6
          .radio
            label
              input(type="radio", value="buy", ng-model="main.addKurs.type", ng-change="main.changeType(main.addKurs.type)")
              | Покупка

      button.btn.btn-primary.btn-block.btn-lg(type="submit") Добавить
    h2.text-center(ng-if="main.isAdded") Спасибо
